@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(247, 254, 231);
}

.custom-select {
  /* width: 200px !important;
  max-width: 200px !important; */
}
.vue-select.custom-select .control {
  /* width: 00px !important;
  max-width: 200px !important; */
  min-height: 40px !important;
  border-radius: 0.375rem !important;
  border-color: #e5e7eb !important;
}
.search-input::placeholder {
  color: darkgray !important;
}

/* .custom-select .search-input {
  position: absolute;
  width: 0;
  height: 0;
} */
